.bloblight {
  width: 650px;
  height: 650px;
  background-color: rgb(0, 174, 255);
  position: fixed;
  z-index: 2;
  border-radius: 50%;
  -webkit-box-shadow: 21px 29px 58px -21px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 21px 29px 58px -21px rgba(0, 0, 0, 0.65);
  box-shadow: 21px 29px 58px -21px rgba(0, 0, 0, 0.65);
}
.blobldark{
  width: 650px;
  height: 650px;
  background-color: #2a2438;
  position: fixed;
  z-index: 2;
  border-radius: 50%;
  -webkit-box-shadow: -2px -7px 122px 10px rgb(0, 110, 255);
  -moz-box-shadow: -2px -7px 122px 10px rgba(0, 162, 255, 0.753);
  box-shadow: -2px -7px 122px 10px rgba(0, 119, 255, 0.212);
}

@media screen and (max-width: 600px) {
  .blob {
    width: 500px;
    height: 500px;
  }
}
