.btnContainer {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.calBtn {
  width: 4.5rem;
  height: 4.5rem;
  margin: 5px;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: #2a2438ad;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 21px 29px 40px -23px rgba(0,0,0,1);
  -moz-box-shadow: 21px 29px 40px -23px rgba(0,0,0,1);
  box-shadow: 21px 29px 40px -23px rgba(0,0,0,1);
}

.calBtndark:hover{
  background-color: rgba(96, 165, 184, 0.151);
  transition: 0.5s;
}
.calBtn:hover{
  background-color: #2a243880;
  transition: 0.5s;
}

.calBtndark {
  width: 4.5rem;
  height: 4.5rem;
  margin: 5px;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: #322a42d5;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 46px 46px 69px -14px rgba(0,0,0,1);
-moz-box-shadow: 46px 46px 69px -14px rgba(0,0,0,1);
box-shadow: 46px 46px 69px -14px rgba(0,0,0,1);
}


.equalBtn {
  height: calc(4.5rem * 2 + 9px);
  margin-bottom: -75px;
  background-color: #ff9a3ccc; 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.equalBtn:hover {
  background-color: rgba(250, 186, 127, 0.8); 
  transition: 0.5s;
}
.org:hover {
  background-color: rgba(250, 186, 127, 0.8); 
  transition: 0.5s;
}

.magnify{
  font-size: 40px;
  padding-top: 20px;
}


.btnc{
  margin-left: -75px;
}

.backspace{
  background-image: url(../assets/backspacelight.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.org{
  background-color: #ff9a3ccc;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.blu{
  background-color: rgba(153, 218, 243, 0.774);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media screen and (max-width: 385px) {
  .btnContainer{
   height: 100%;
  }
 .calBtn{
  width: 4.0rem;
  height: 4.0rem;
 } 

 .equalBtn {
  height: 2.7em;
}

.btnc{
  margin-left: 0;
}
 
}